.top-bar-left img {
    width: 50px;
}

.team-member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

pre code {
  margin-bottom: 1em;
}

.blog-post {
  padding-left: 1em;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

/* BEGIN: Styling Author Section
 * If there are two authors, show them in the same line with comma separation */

section.author {
  float: left;
}

section.author + section.category {
  clear: left;
}

section.author + section.author:before {
  content: ", "
}

/* END: Styling Author Section */